html {
    background: #FFF8D6;
    color: #000E5A;
    font-size: 100%;
}

html {
    display: block;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    min-height: 100vh;
    max-width: 70rem;
    margin: auto;
    font-family: 'Cedarville Cursive', cursive;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}

main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2.5rem 1.5rem;
}

header {
    width: 100%;
}

section {
    flex: 1;
}

section:last-of-type {
    min-width: 100%;
}

header > h1 {
    font-size: 5rem;
}

.images {
    position: relative;
    margin-bottom: 2rem;
}

.images > img {
    position: absolute;
    width: 90%;
    top: 40%;
    left: -8rem;
}

.selfie {
    aspect-ratio: 1;
    width: 100%;
    max-width: 32rem;
    height: calc(100vw - 4rem);
    max-height: 32rem;
    position: relative;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
}

.selfie img {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.colored-background {
    background-color: #f0d58f;
    margin: 3rem;
    padding: 1rem 2rem;
    border-radius: 0rem;
    shape-margin: center;
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    font-family: 'Archivo', sans-serif;
    font-size: clamp(1.25rem, 2.35vw, 1.15rem);
    font-weight: 700;
    position: relative;
    text-align: center;
    right: 1rem;
    margin-left: 2.15em;
    margin-bottom: 4rem;
}

h3 {
    font-size: clamp(3rem, 10vw, 4rem);
    line-height: 1;
}

h3.small {
    font-size: clamp(0.85rem, 2.35vw, 1.15rem);
    font-weight: 700;
}

p {
    color: #CC3716;
    font-size: clamp(2.0rem, 2.5vw, 1.25rem);
    line-height: 1.5;
    max-width: 100ch;
    text-align: center;
    
}

ul {
    margin: 4rem 0;
}

ul.links, .links a {
    text-decoration: none;
    list-style: none;
    padding: 0;
    text-align: center;
}

.links li, .links li a {
    position: relative;
    display: inline-block;
    color: #131520;
    font-family: 'Archivo', sans-serif;
    font-weight: 700;
}

.links li:nth-child(2) {
    margin-left: 3rem;
}

.links li::after {
    content: ' ';
    position: absolute;
    background-image: url('../images/arrow.svg');
    background-repeat: no-repeat;
    background-size: 1.25em;
    height: 1.25em;
    width: 1.25em;
    right: 0;
    top: 50%;
    transform: translate(150%, -50%);
}

div {
    text-align: center;
}

h3 {
    position: relative;
    font-family: 'Archivo', sans-serif;
    font-size: clamp(1.5rem, 2.35vw, 1.5rem);
    font-weight: 700;
    margin-left: 2em;
    margin-bottom: 4rem;
    text-align: center;
}

h3::before {
    content: ' ';
    position: absolute;
    background-image: url('../images/location.svg');
    background-repeat: no-repeat;
    background-size: 1.0em;
    height: 1.5em;
    width: 1.5em;
    left: auto;
    top: 50%;
    transform: translate(-150%, -50%);
}

h4 {
    position: relative;
    font-family: 'Archivo', sans-serif;
    font-size: clamp(1.5rem, 2.5vw, 1.5rem);
    font-weight: 700;
    margin-left: 2em;
    margin-bottom: 8rem;
    text-align: center;
}

h4::before {
    content: ' ';
    position: absolute;
    background-image: url('../images/star.svg');
    background-repeat: no-repeat;
    background-size: 1.0em;
    height: 2.0em;
    width: 2.0em;
    left: auto;
    top: 50%;
    transform: translate(-100%, -50%);
}

footer {
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'Archivo', sans-serif;
    font-size: 0.75rem;
}

